:root {
  /* background: #b87f7f; */
  height: 100%;
  width: 100%;
}

body {
  background: #A7AAF8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
}
